<!-- patient_dashboard.html -->
{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <!-- <h2 class="m-4">Tableau de Bord Patient</h2> -->
    <div class="row mt-4">
        <div class="col-md-6">
            <h3>Vaccinations</h3>
            <div class="card mb-4" id="health-data">
                <!-- Les données de santé seront affichées ici -->
                <ul class="list-group list-group-flush" id="vaccines">
                    <!-- Les médicaments et vaccinations seront affichés ici -->
                </ul>
            </div>
           
        </div>
        <div class="col-md-6">
            <h3>Rappels de vaccination</h3>
            <div class="card mb-4">
                <ul class="list-group list-group-flush" id="reminders">
                    <!-- Les rappels et notifications seront affichés ici -->
                </ul>
            </div>
            <!-- <h3>Communication avec le Médecin</h3>
            <form id="communication-form">
                <div class="form-group">
                    <label for="message">Message :</label>
                    <textarea class="form-control" id="message" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>
            <div class="card mb-4" id="doctor-messages">
                Les messages du médecin seront affichés ici
            </div> -->
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-6">
            <h3>Vaccinations</h3>
            <div class="card mb-4">
                <ul class="list-group list-group-flush" id="vaccines">
                    
                </ul>
            </div>
        </div>
    </div> -->
</div>
<script src="{{ url_for('static', filename='js/vaccination_patient.js') }}"></script>
<script src="{{ url_for('static', filename='js/script_patient.js') }}"></script>
{% endblock %}
